<div class="center">
  <h1><%= (@user.name).titleize %> Profile</h1>
</div>

<div>
  <h2><%= "Address".pluralize(@user.addresses.count)%></h2>
</div>

<ul class="display">
  <%= render 'addresses/index', addresses: current_user.addresses %>
</ul>

<br /><%= button_to 'Add Home Address', new_address_path, method: 'get',
  class: "btn btn-primary" if @user.addresses.blank? %>

<br /><%= button_to 'Add Work Address', new_address_path, method: 'get',
  class: 'btn btn-large' if @user.addresses.count == 1 %><br />

<div class="display">
  <h2><%= "Reservation".pluralize(@user.reservations.count)%></h2>

  <p>Currently you have
    <%= pluralize(@user.reservations.count, 'reservation') %><br />
    <% if @user.reservations.count == 0 %>
      <%= link_to 'Click here', root_path %> to view available hotels
    <% end %>
  </p>
</div>

<br /><%= button_to 'Edit Profile',
  edit_user_path(current_user), method: 'get',
  class: 'btn btn-large btn-primary' %><br />

<%= button_to 'Delete Profile', user_path(current_user), method: 'delete',
  data: { confirm: 'Are you sure you want to remove your profile?' },
  class: 'btn btn-large'%>
