<li>
  <span class="align_right">
    <h3>
      <strong>Description:</strong>
    </h3>
    <%= room_type.description %><br />
    <h3>
      <strong>Beds:</strong>
    </h3>
    <%= room_type.beds %>
    <h3>
      <strong>Hotel Amenities:</strong>
    </h3>
      <%= amenities %>
    <h3>
      <strong>Room Rate:</strong>
    </h3>
    <% room_type.rooms.each do |room| %>
      <%= number_to_currency(room.room_rate) %><br />
    <% end %>
    <h3>
      <strong>Reviews:</strong>
    </h3>
    <ul>
      <% room_type.reviews.each do |review| %>
        <strong>Length of Stay: </strong><%= review.length_of_stay %>
          <%= (review.length_of_stay >= 2) ? "nights" : "night" %><br />
        <strong>Review: </strong><%= review.comment %><br />
        <strong>Posted by: </strong><%= review.user.name %> on
          <%= (review.created_at).strftime("%m/%d/%Y at %l:%M %P") %>
        <% if current_user && review.user.id == current_user.id %>
          <%= link_to 'Delete', review_path(review), method: :delete,
            data: { confirm: 'Are you sure you want to remove this review?' } %>
        <% end %>
        <hr>
      <% end %>
    </ul>

    <ul id="js-review"></ul>

    <% if current_user %>
      <div id='js-review-form' style="display: none;">
        <%= form_for review do |f| %>
          <%= f.text_field :length_of_stay,
            placeholder: 'Length Of Stay in nights' %><br />
          <br />
          <%= f.text_area :comment, placeholder: 'Review' %>
          <%= f.hidden_field :room_type_id, value: room_type.id %>
          <%= f.hidden_field :user_id, value: current_user.id %><br />
          <%= f.submit value: 'Add' %>
        <% end %>
        <br />
      </div>

      <button class='btn btn-large btn-primary' onclick="displayReviewForm()">
        Add a Review
      </button><br />
    <% end %>
  </span>
</li>
