<div>
  <h3><%= reservation.room_name %> at <%= reservation.hotel_name %></h3>
  <ul>
    <strong>Check In: </strong>
    <%= reservation.user_view_reservation_time(reservation.checkin_time) %> on
      <%= reservation.user_view_reservation_date(reservation.checkin_date) %>
    <br />
    <strong>Check out: </strong>
    <%= reservation.user_view_reservation_time(reservation.checkout_time) %> on
      <%= reservation.user_view_reservation_date(reservation.checkout_date) %>
    <br />
    <strong>Rooms: </strong>
    <%= reservation.number_of_rooms %><br />
  </ul>

  <h3>Your Rate</h3>
  <ul>
    <strong>Total Nights: </strong>
    <%= reservation.total_nights %><br />
    <strong>Average Nightly Rate: </strong>
    <%= number_to_currency(reservation.room.room_rate) %><br />
    <strong>Estimated Total Price: </strong>
    <%= number_to_currency(reservation.total_price) %><br />
  </ul>

  <%= button_to 'Edit',
    edit_reservation_path(reservation, reservation.id), method: 'get',
    class: 'btn btn-large btn-primary' %><br />
  <%= button_to 'Delete', reservation_path(reservation), method: 'delete',
    data: { confirm: 'Are you sure you want to delete this reservation?' },
    class: 'btn btn-large'%>
</div>
