<div class="center">
  <h1>
    {{name}}
  </h1>
</div>
<div class="center">
  <a href="rooms/{{roomId}}/room_types/{{roomTypeId}}">
    <img src="/assets/{{photo}}" alt="{{name}}" height="230" width="425">
  </a>
</div>
