<strong>Length of Stay: </strong>{{lengthOfStay}} {{night}}<br />
<strong>Review: </strong>{{comment}}<br />
<strong>Posted by: </strong>{{username}} on {{createdAt}}
<a data-confirm="Are you sure you want to remove this review?"
data-method="delete" href="/reviews/{{reviewId}}">Delete</a>
<hr>
